@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

header {
    background: linear-gradient(#F7F7F7 10%, 90%, #CCCCCC 100%);
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
}

.fa-database {
    margin-right: 10px;
}

.header__title a {
    color: black;
    font-family: Ubuntu;
    font-size: 1.2rem;
    text-decoration: none;
}

.navigation-menu {
    display: none;
}
.navigation-menu li a {
    color: black;
    padding: 10px 30px;
    text-decoration: none;
}
.navigation-menu li a:hover {
    border-bottom: 2px solid orange;
    cursor: pointer;
}

.hamburger-menu-icon {
    color: black;
    display: block;
    flex-grow: 1;
    text-align: right;
    text-decoration: none;
}
.fa-times {
    display: none;
}

/* Hamburger Menu */

.hamburger-menu {
    background-color: orange;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.hamburger-menu a {
    border-bottom: 1px solid #FFD280;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    transition-duration: 0.2s;
}
.hamburger-menu a:hover {
    background-color: #FFD280;
}

@media screen and (min-width: 600px){

    .header__title a {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 800px){

    .navigation-menu {
        display: flex;
        justify-self: end;
        list-style: none;
    }

    .hamburger-menu-icon {
        display: none;
    }
}