@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.header {
    align-items: center;
    background: linear-gradient(orange 10%, 80%, #FFD280 100%);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 20px;
}

.header__title a {
    color: black;
    font-family: Ubuntu;
    font-size: 1.8rem;
    margin-left: 10px;
    text-decoration: none;
}

.navigation-menu {
    display: flex;
    justify-self: end;
    list-style: none;
}
.navigation-menu li a {
    color: black;
    padding: 10px 30px;
    text-decoration: none;
    transition-duration: 0.2s;
}
.navigation-menu li:not(:last-child) a {
    border-right: 1px solid black;
}
.navigation-menu li a:hover {
    background-color: #FFD280;
    cursor: pointer;
}

.hamburger-menu-icon {
    color: black;
    display: none;
    flex-grow: 1;
    text-align: right;
    text-decoration: none;
}
.fa-times {
    display: none;
}

/* Hamburger Menu */

.hamburger-menu {
    background-color: orange;
    display: none;
    flex-direction: column;
}
.hamburger-menu a {
    border-bottom: 1px solid #FFD280;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    transition-duration: 0.2s;
}
.hamburger-menu a:hover {
    background-color: #FFD280;
}

.introductory-text-container {
    background-color: yellow;
    padding: 20px;
}

@media screen and (max-width: 600px){

    .header__title a {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 800px){

    .navigation-menu {
        display: none;
    }

    .hamburger-menu-icon {
        display: block;
    }
}