<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h3 class="footer-section-heading">Links</h3>
        <ul>
          <li><a href="https://github.com/bryanc123/Employee-Records-Angular">Source Code for this App</a></li>
          <li><a href="https://bryanc123.github.io/Personal-Website/">Personal Portfolio</a></li>
          <li><a href="https://bryanc123.github.io/Plain-JavaScript-Quiz/">Quiz App</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3 class="footer-section-heading">More Links</h3>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
          <li>Link 5</li>
        </ul>
      </div>
      <div class="footer-section">
        <h3 class="footer-section-heading">Even More Links</h3>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
        </ul>
      </div>
    </div>
  </footer>
