.back-button {
    background-color: orange;
    border-radius: 10px;
    color:black;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    text-decoration: none;
    transition-duration: 0.2s;
}
.back-button:hover {
    background-color: #FFD280;
}

/* Article */

.article {
    background-color: #F0F0F0;
    padding: 20px;
}

.article__container {
    background-color: white;
    padding: 20px;
}

.article__image {
    width: 100%;
}

.article__image-caption {
    margin-bottom: 20px;
}

.article__heading {
    margin-bottom: 10px;
}

.article__author {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.article__profile-image {
    align-items: center;
    background-color:#ACE1AF;
    border-radius: 50%;
    display: flex;
    font-size: 44px;
    height: 50px;
    justify-content: center;
    width: 50px;
}

.article__byline {
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 10px;
}

.article__profile-link {
    color: black;
    text-decoration: none;
}
.article__profile-link:hover {
    color: rgba(0, 0, 0, 0.6);
}

.article__body p {
    margin-bottom: 20px;
}

/* Comments */

.comments {
    background-color: #F0F0F0;
    padding: 20px;
}

.comments__container {
    background-color: white;
    padding: 20px;
}

.comment {
    padding: 20px 0;
}
.comment:not(:last-child) {
    border-bottom: 1px solid black;
}

.comment__heading {
    margin-bottom: 20px;
}

.comment__profile-image {
    align-items: center;
    background-color:#ACE1AF;
    border-radius: 50%;
    display: flex;
    font-size: 44px;
    height: 50px;
    justify-content: center;
    width: 50px;
}

.comment__email {
    margin-left: 10px;
}

.comment__name {
    font-weight: bold;
    margin-bottom: 10px;
}

.comment__datetime {
    font-style: italic;
    margin-top: 20px;
}

@media only screen and (min-width: 800px) {
    .article__container {
        max-width: 700px;
    }

    .comments__container {
        max-width: 700px;
    }
}

@media only screen and (min-width: 1000px) {
    .article__byline {
        font-size: 16px;
    }
}