h2 {
    border-bottom:2px solid orange;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
    text-decoration: underline;
}

input[type="text"] {
    font-size: 1em;
    margin-bottom: 15px;
    width: 250px;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}
ul li {
    margin-bottom: 10px;
}

/* Back Button */

.back-button-container {
    margin: 20px 20px
}

.back-button {
    background-color: orange;
    border-radius: 10px;
    color: black;
    padding: 10px;
    text-decoration: none;
    transition-duration: 0.2s;
}

.back-button:hover {
    background-color: #FFD280;
    cursor: pointer;
}

.submit-button {
    background-color: orange;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.submit-button:hover {
    background-color: #FFD280;
    cursor: pointer;
}

.submit-button:disabled {
    background-color: #C8C8C8;
    cursor: default;
}

.formContainer {
    background:white;
    border: 2px solid #D8D8D8;
    margin: 20px auto;
    padding: 20px;
    width: 320px;
}

.formGroup {
    margin-bottom: 20px;
}

.userForm {
    display:flex;
    flex-direction: column;
}

.invalid-input {
    border: 1px solid red;
}

.alert {
    color: red;
    margin-bottom: 10px;
}