.header-container {
    background: linear-gradient(orange 10%, 80%, #FFD280 100%);
    box-shadow: 0px 2px 5px black;
    margin: 0;
    padding: 20px;
}

.introductory-text-container {
    padding: 20px;
}