.back-button {
    background-color: orange;
    border-radius: 10px;
    color:black;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    transition-duration: 0.2s;
}
.back-button:hover {
    background-color: #FFD280;
}

/* Users Container */

.user-container {
    background-color: white;
}

.user-record {
    display: flex;
    padding: 20px;
}
.user-record:nth-child(odd) {
    background-color: #FFEDCC
}

.user-record__avatar-container {
    padding: 0 10px 20px 10px;
    text-align: center;
}
.user-record__avatar-container a {
    color: black;
    text-decoration: none;
}

.user-record__avatar {
    align-items: center;
    background-color:#ACE1AF;
    border-radius: 50%;
    display: flex;
    font-size: 16px;
    height: 100px;
    justify-content: center;
    margin: 0 auto;
    width: 100px;
}

.user-record__details {
    line-height: 30px;
    margin-left: 20px;
}

.user-record__name { 
    text-decoration: underline;
}

.user-record__field {
    font-weight: bold;
}

.user-record__catchphrase {
    font-style: italic;
}

.user-record__articles-button {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
}
.user-record__articles-button:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .user-record {
        flex-direction: column;
    }
}