/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F8F8;
}

app-root {
    min-height: 100vh;
}

.wrapper {
    min-height: 100%;
    display: grid;
}

.footer {
    background-color: orange;
    flex-shrink: 0;
    padding: 20px;
}

.footer-container {
    display:grid;
    grid-template-columns: 3fr 2fr 2fr;
    max-width: 900px;
}

.footer-section-heading {
    margin-bottom: 10px;
    text-decoration: underline;
}

.footer-section ul {
    list-style: none;
}