<div class="wrapper">
    <div class="menu-item-container">
        <p>
        View employee records which include the following details:</p>
        <ul style="margin-left: 20px; list-style-type: none; margin-bottom: 40px">
            <li>Name</li>
            <li>Email</li>
            <li>Phone Number</li>
            <li>Website</li>
            <li>Company Name</li>
        </ul>
        <div class="button-container">
        <button routerLink="/users" class="user-records-button">User Records</button>
        </div>
    </div>
    <div class="menu-item-container">
        <p>
        Add an employee record to the database
        </p>
        <div class="button-container">
        <button routerLink="/add-user" class="add-user-button">Add User</button>
        </div>
    </div>
</div>