ul {
    list-style-type: none;
    margin: 0 0 40px 20px;
}

ul li {
    margin-bottom: 5px;
}

.home {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 80vh;
    position: relative;
}

.home__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

.home__mask-layer {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

button {
    background-color: #FFB733;
    border: none;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    min-width: 250px;
    padding: 20px;
    transition-duration: 0.2s;
}
button:hover {
    background-color: #FFD280;
    cursor: pointer;
}

@media screen and (min-width: 360px) {
    .menu-item-container h2 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .wrapper {
        min-height: 800px;
    }
}