ul {
    list-style-type: none;
    margin: 0 0 40px 20px;
}

ul li {
    margin-bottom: 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 800px;
    padding: 20px;
}

.menu-item-container {
    background-color: #D8D8D8;
    border-left: 5px solid orange;
    margin-bottom: 40px;
    padding: 20px;
}

.menu-item-container h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.menu-item-container p {
    margin-bottom: 20px;
}

button {
    background-color: orange;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #FFD280;
    cursor: pointer;
}

@media screen and (min-width: 360px) {
    .menu-item-container h2 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .wrapper {
        min-height: 800px;
    }
}