<div class="wrapper">
    <div class="menu-item-container">
        <h2>
            View employee records
        </h2>
        <p>
            Details include:
        </p>
        <ul>
            <li>Name</li>
            <li>Email</li>
            <li>Phone Number</li>
            <li>Website</li>
            <li>Company Name</li>
        </ul>
        <div class="button-container">
        <button routerLink="/users" class="user-records-button">User Records</button>
        </div>
    </div>
    <div class="menu-item-container">
        <h2>
            Create an employee record
        </h2>
        <p>
            <strong>Note:</strong> JSONPlaceholder is only a <strong>test API</strong>, so POST requests do not actually modify data on the server
        </p>
        <div class="button-container">
        <button routerLink="/add-user" class="add-user-button">Add User</button>
        </div>
    </div>
</div>